<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
      
      <ul class="nav flex-column mb-2">
         {% if request.session.userid %}
          <li class="nav-item"> 
            <span class="nav-link" href="#">
                <span data-feather="user"></span>
                사용자 : {{ request.session.username }}
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="/accounts/logout">
                  <span data-feather="log-out"></span>
                  로그아웃
            </a>
          </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">
                  <span data-feather="log-in"></span>
                  로그인
                </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/signup">
              <span data-feather="user-plus"></span>
              회원가입
            </a>
          </li>
            {% endif %}
          
        </ul>
      
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>강의 정보</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="chevrons-left"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link active" href="/ds2020">
              <span data-feather="aperture"></span>
              공지사항
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/syllabus">
              <span data-feather="compass"></span>
              교수계획표
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lecture">
              <span data-feather="archive"></span>
              강의자료
            </a>
          </li>
        </ul>
        
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>과제</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="chevrons-left"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="list"></span>
              과제물 목록
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/assignment/submission">
              <span data-feather="terminal"></span>
              과제물 제출
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="pie-chart"></span>
              과제 제출 현황
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exam">
              <span data-feather="edit"></span>
              온라인 시험
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>게시판</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="chevrons-left"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/forum">
              <span data-feather="file-text"></span>
              자유 게시판
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/qna">
              <span data-feather="alert-circle"></span>
              질문 게시판
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">
              <span data-feather="edit-3"></span>
              실습 보고서
            </a>
          </li>
        </ul>
    
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>About</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="chevrons-left"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/about">
              <span data-feather="code"></span>
              NESPA 소개
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/devs">
              <span data-feather="slack"></span>
              NESPA 개발팀
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nespa_qna">
              <span data-feather="check-circle"></span>
              NESPA Q&amp;A
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <img src="/static/miscs/banner.png">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">공지사항 / Notices</h1>
      </div>
      <div>
        <table class="table table-hover">
            <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>작성자</th>
            <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            
            {% for post in posts %}
            <tr>
            <td>1</td>
            <td><a href="{{ post.get_absolute_url }}">{{ post.title }} </a></td>
            <td>Admin</td>
            <td>{{ post.mod_date|date:"N d, Y" }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            <div align="right">
                <a class="btn btn-primary pull-right" href="#">글쓰기</a>
            </div>
      </div>
      <div>
      {% if page_obj.has_previous %}
       <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
      {% endif %}
      
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      
      {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
      </div>
    </main>
</div>
</div>
      
{% endblock %}
