<!doctype html>
{% extends 'board_list.html' %}
{% block board_title %}
    <div class="title-container">
        <a href="/ds2020" class="title-box">
          <span>공지사항/ Notice</span>
        </a>
    </div>

{% endblock %}

{% block write_button %}
{% if request.session.logged_in == 'YES' and request.session.usertype == 'admin' %}
<div align="right">
    <a class="btn btn-primary pull-right" href="/ds2020/write">글쓰기</a>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_notice").attr('class','nav-link active'); 
</script>
{% endblock %}
