<!doctype html>
{% extends 'base.html' %}
{% block styles %}
    img {
	max-width: 100%;
	height: auto;
    }
    pre.content {
        font-family : Courier New, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size : .875rem;
        white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
        white-space: -pre-wrap; /* Opera */
        white-space: -o-pre-wrap; /* Opera */
        white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
        word-wrap: break-word; /* IE 5.5+ */
    }
{% endblock %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-dark">
        <h2>공지사항 / Notices</h2>
      </div>
      <div class="pb-4 pt-2 mb-3 m-autoborder-dark post_info">
        <h3 class="font-weight-bold">{{ object.title }}</h3>
        <h5>
          <span style="font-weight: 200;">{{ post.pub_date | date:"N j일 | H:i" }}</span>
          <span class="text-primary" style="font-weight: 500;">{{ object.author }}</span>
        </h5>
      </div>
      <div>
        <ul>
        {% for attachment in attachments %}
	    {% if attachment.ext == "jpg" or attachment.ext == "png" or attachment.ext == "gif" or attachment.ext == "bmp" or attachment.ext == "jpeg" %}
            <img src="/media/attached/board/{{object.id}}/{{attachment.name}}">
	    {% endif %}
        {% endfor %}
        </ul>
      </div>

      

      <div id="viewer" class= "mh-5 pt-3 pb-4 m-auto border-dark"> 
        <!-- <pre class="content"></pre> -->
      </div>

      <hr>

      <div>
      {% if page_obj.has_previous %}
       <a href="?page={{ object.get_previous.get_absolute_url}}" title="Prev">{{ object.get_previous}} </a>
      {% endif %}
      
      {% if page_obj.has_next %}
       <a href="?page={{ object.get_next.get_absolute_url }}" title="Next">{{ object.get_next }}</a>
      {% endif %}
      </div>
      {% if attachments %}
      <div id="f-table">
        <div class="wrap-table100">
          <div class="table100">
            <table>
              <thead>
                <tr><th>첨부 파일</th></tr>
              </thead>
              <tbody>
        {% for attachment in attachments %}
            <tr>
              <td class="column1">
                <a href="/media/attached/board/{{object.id}}/{{attachment.name}}">{{attachment.name}}</a>
              </td>
            </tr>
        {% endfor %}
              </tbody>
            </table>
          </div>
        </div>      
      </div>
      {% endif %}
      <div class="text-right p-3">
      {% if request.session.usertype == "admin" or request.session.userid == object.author %}
      <button class="btn btn-primary btn-lg pull-right" onclick="location.href='{% url 'board:edit' object.id %}'"> 수정 </button>
      {% endif %}
	<button class="btn btn-secondary btn-lg pull-right" onclick="location.href='{% url 'board:post_list' %}'"> 목록으로 </button>      
      </div>      
      <div class="">
        {% for comment in comments %}
            <div class="border-top border-dark pt-2 pb-2 pl-2">
                <span class="text-primary font-weight-bold">{{ comment.author }} ,</span> <span class="font-italic">{{ comment.pub_date | date:"N j일, H:i" }}</span><br>
                <span class="p-1"> {{ comment.text }} </span>
            </div>
        {% endfor %}
      </div>
      {% if request.session.logged_in and request.session.usertype == 'unapproved' %}
      <div class= "border-top border-dark p-3">
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-row w-100">
                <div class="form-group w-100">
                    <label for="id_text">
                    <textarea class="form-control" name="text" cols="140" rows="5" style="min-width: 100%" required id="id_text"></textarea>
                </div>
            </div>
            <div class="float-sm-right">
                <input class="btn btn-primary btn-lg" type="submit" value="댓글 등록">
            </div>
        </form>
      </div>
      {% endif %}
    </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}


<script>
  $(document).ready( function() {
    // attach files
    $("input[type=file]").change(function () {
        var fileInput = document.getElementById("attach_files");
        
        var files = fileInput.files;
        var file;
        var result = `<div class="wrap-table100"><div class="table100"><table><tbody>`;
        
        for (var i = 0; i < files.length; i++) {
            file = files[i];
            result += `<tr><td class="column1">` + (i+1) + ": " + file.name + "</td></tr>";
        }
        result += `</tbody></table></div>`;
        document.getElementById("attach_files_list").innerHTML=result;
    });
  });
  const { Editor } = toastui;
  const { codeSyntaxHighlight } = Editor.plugin;

  const viewer = new Editor.factory({
    el: document.querySelector('#viewer'),
    viewer:true ,
    height: '600px',
    initialValue:  "{{ content|safe }}",
    plugins: [[codeSyntaxHighlight, { highlighter: Prism }]],
  });

  $("#sidebar_notice").attr('class','nav-link active'); 
</script>
{% endblock %}
