<!doctype html>
{% extends 'base.html' %}
{% block styles %}
    .border-2 {
        border-width:3px !important;
    }
    pre.content {
        font-family : Courier New, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size : .875rem;
        white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
        white-space: -pre-wrap; /* Opera */
        white-space: -o-pre-wrap; /* Opera */
        white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
        word-wrap: break-word; /* IE 5.5+ */
    }
    pre.comment {
        white-space: pre-wrap;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size : 14px;
	width : 70%;
    }

    .comment-info-border {
	border-left : 4px solid red !important;
	border-bottom : 1px solid blue !important;
    }
{% endblock %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  border-dark">
        <h2 class="">자유 게시판 / Forum</h2>
      </div>
      <div class="pb-4 pt-2 mb-3 m-autoborder-dark post_info">
        <h3 class="font-weight-bold">{{ object.title }}</h3>
        <h5>
          <span style="font-weight: 200;">{{ post.pub_date | date:"N j일 | H:i" }}</span>
          <span class="text-primary" style="font-weight: 500;">{{ object.author }}</span>
        </h5>
      </div>
      <div class="">
        <ul>
        {% for attachment in attachments %}
	    {% if attachment.ext == "jpg" or attachment.ext == "png" or attachment.ext == "gif" or attachment.ext == "bmp" or attachment.ext == "jpeg" %}
            <img src="/media/attached/forum/{{object.id}}/{{attachment.name}}">
	    {% endif %}
        {% endfor %}
        </ul>
      </div>
      <div id="viewer" class=" border-dark"> 
        <!-- <pre class="content"></pre> -->
        
      </div>
      <div >
      {% if page_obj.has_previous %}
       <a href="?page={{ object.get_previous.get_absolute_url}}" title="Prev">{{ object.get_previous</a>
      {% endif %}
      
      {% if page_obj.has_next %}
       <a href="?page={{ object.get_next.get_absolute_url }}" title="Next">{{ object.get_next }}</a>
      {% endif %}
      </div>
      {% if attachments %}
      <div id="f-table">
        <div class="wrap-table100">
          <div class="table100">
            <table>
              <thead>
                <tr><th>첨부 파일</th></tr>
              </thead>
              <tbody>
        {% for attachment in attachments %}
            <tr>
              <td class="column1">
                <a href="/media/attached/board/{{object.id}}/{{attachment.name}}">{{attachment.name}}</a>
              </td>
            </tr>
        {% endfor %}
              </tbody>
            </table>
          </div>
        </div>      
      </div>
      {% endif %}
      
      <div class="text-right p-3 d-flex justify-content-end">
        {% if request.session.usertype == "admin" or request.session.userid == object.author %}
        <button class="btn btn-primary btn-lg pull-right" onclick="location.href='{% url 'board:edit' object.id %}'"> 수정 </button>
        {% endif %}
        <button class="btn btn-secondary btn-lg pull-right ml-3" onclick="location.href='{% url 'board:post_list' %}'"> 목록으로 </button>      
      </div>  

      <div class="cards">
        <div class="card-body p-0">

          <div class="w-100">
            <h5>댓글 달기</h5>
            <div class="form-outline">
              <textarea
                class="form-control"
                id="textAreaExample"
                rows="4"
              ></textarea>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button type="button" class="btn btn-success">댓글 등록</button>
            </div>
          </div>

          <h4 class="card-title">댓글 목록</h4>
          <div class="comment-widgets m-b-20">
            {% for comment in comments %}
              {% if not comment.deleted %}
              <div class="d-flex flex-row comment-row">
                <div class="p-2"><span class="round"><div width="50"></div></div>
                <div class="comment-text w-100">
                  <h5 class="mb-0">{{ comment.author }}</h5>
                  <div class="comment-footer" style="display:flex; justify-content: space-between;"> 
                    <span class="action-icons">
                      {% if request.session.usertype == "admin" or request.session.userid == object.author %}
                      <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                      <a onclick="deleteComment({{comment.id}})" data-abc="true"><i class="fa fa-trash"></i></a> 
                      {% endif %}
                      <a href="#" data-abc="true"><i class="fa fa-comment"></i></a> 
                    </span> 
                    <span class="date">{{ comment.pub_date | date:"N j일, H:i" }}</span> 
                  </div>
                  <p class="pt-3 m-b-5 m-t-10">{{ comment.text }}</p>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      
      {% if request.session.logged_in and request.session.usertype == 'unapproved' %}
      <div class=" border-top border-dark p-3">
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-row w-100">
                <div class="form-group w-100">
                    <label for="id_text">
                    <textarea class="form-control" name="text" cols="140" rows="5" style="min-width: 100%" required id="id_text"></textarea>
                </div>
            </div>
            <div class="float-sm-right">
                <input class="btn btn-primary btn-lg" type="submit" value="댓글 등록">
            </div>
        </form>
      </div>
      {% endif %}
    </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}


<script>
  const { Editor } = toastui;
  const { codeSyntaxHighlight } = Editor.plugin;

  const viewer = new Editor.factory({
    el: document.querySelector('#viewer'),
    viewer:true ,
    height: '600px',
    initialValue:  "{{ content|safe }}",
    plugins: [[codeSyntaxHighlight, { highlighter: Prism }]],
  });

  $("#sidebar_forum").attr('class','nav-link active'); 

  function deleteComment(comment_id) {
    var is_delete = confirm('선택한 댓글을 삭제하시겠습니까?');
    if (is_delete) {
      location.href = `deleteComment/${comment_id}`; 
    }
  }
</script>
{% endblock %}