<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">자유 게시판 / Forum</h1>
      </div>
      <div class="border-bottom pb-2 mb-3">
      <h2>{{ object.title }}</h2>
      </div>
      <div class="w-75">
      {{ object.content|linebreaks }}
      </div>
      <div>
      {% if page_obj.has_previous %}
       <a href="?page={{ object.get_previous.get_absolute_url}}" title="Prev">{{ object.get_previous</a>
      {% endif %}
      
      {% if page_obj.has_next %}
       <a href="?page={{ object.get_next.get_absolute_url }}" title="Next">{{ object.get_next }}</a>
      {% endif %}
      </div>
      <div>
        <a href="{% url 'forum:post_list' %}">List</a>
      </div>
      
            <div class="mb-3 border-bottom">
        {% for comment in comments %}
            <div class="border-top border-bottom border-dark">
                <span>{{ comment.author }} |</span> <span class="font-italic">{{ comment.pub_date | date:"N j일, H:i" }}</span><br>
                <span> {{ comment.text }} </span>
            </div>
        {% endfor %}
      </div>
      
      {% if request.session.logged_in and request.session.usertype != 'unapproved' %}
      <div class="w-75">
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-row w-100">
                <div class="form-group w-100">
                    <label for="id_text">
                    <textarea class="form-control" name="text" cols="100" rows="5" style="min-width: 100%" required id="id_text"></textarea>
                </div>
            </div>
            <div class="float-sm-right">
                <input class="btn btn-primary btn-lg" type="submit" value="등록 / Add Comment">
            </div>
        </form>
      </div>
      {% endif %}
    </main>
  </div>
</div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_forum").attr('class','nav-link active'); 
</script>
{% endblock %}