/* @font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
  font-family: 'Nanum Gothic', sans-serif;
} */

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 1rem;
  font-family: "Pretendard-Regular";
}

.toastui-editor-contents {
  font-size: 1rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0 calc(25% - 220px); /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  max-width: 25%;
  /* margin-left: calc(25% - 220px); */
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 600;
  color: #333;
  padding: 3px 0px 3px 12px;
  transition: all 0.1s 0s;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff !important;
  font-weight: 900;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link:hover {
  color: inherit;
  transition: all 0.1s 0s;
  font-weight: 900;
  padding-left: 14px;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.post_info h5 {
  display: flex;
  justify-content: space-between;
}

#viewer {
  min-height: 200px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  main[role="main"] {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    padding-left: 50px !important;
  }
  #main_center {
    max-width: 1000px;
    min-width: 800px;
    margin: 0 !important;
  }
}



#main_center > table td,
#main_center > table th {
  white-space: nowrap;
}

#main_center > div > h1 {
  font-family: "Pretendard-Regular";
  font-weight: 900;
  font-size: 2.3rem;
}

main table {
  table-layout: fixed;
}

th.table_title,
td.table_title {
  max-width: 72% !important;
  width: 72% !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

th.table_info,
td.table_info {
  width: 100px !important;
}

th.table_idx,
td.table_idx {
  width: 60px;
}

.admin {
  color: #ce2121;
}

.comment-author,
.retweet-author {
  font-size: 1.2em !important;
}

.title-container {
  width: fit-content;
}

.title-box,
.title-box::after,
.title-box:hover {
  font-family: "Pretendard-Regular";
  font-size: 28px;
  font-weight: 900;
  padding: 10px 20px;
  border: 0;
  color: #fff !important;
  letter-spacing: 1px;
  line-height: 60px;
  outline: transparent;
  position: relative;
  background: linear-gradient(45deg, transparent 5%, firebrick 5%);
  text-decoration: none;
}

.sidebar-box,
.sidebar-box::after,
.sidebar-box:hover {
  width: 500px;
  font-family: "Pretendard-Regular";
  font-weight: 900;
  font-size: 15px;
  background: linear-gradient(45deg, transparent 5%, #2e2e2e 5%);
  padding: 8px 20px;
  border: 0;
  color: #fff;
  letter-spacing: 1px;
  /* line-height: 88px; */
  outline: transparent;
  text-decoration: none;
  white-space: nowrap;
}

li.topbar {
  white-space: nowrap;
}

li.topbar > button {
  background-color: inherit;
  color: white;
  font-size: 1.1rem;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  padding: 6px 10px;
}

li.topbar > button:hover {
  transition: all 0.1s ease 0s;
  background-color: inherit;
  padding-top: 9px;
  color: rgb(212, 212, 212);
  font-size: 1.1rem;
  font-weight: 900;
}

tbody tr > td:nth-child(2):hover {
  font-weight: 900;
  /* transition: all 0.05s  0s; */
}

nav > span.gohwak .feather {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

nav > span.gohwak > a {
  color: white;
}

nav > span.gohwak {
  padding-top: 5px;
  color: white;
  padding-left: 10px;
  width: 500px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 768px) {
  * {
    font-size: 0.95rem;
  }
  main[role="main"] {
    margin-left: 0 !important;
    padding-left: 10px !important;
  }
  div.banner {
    display: none;
  }
  #main_center {
    width: 100% !important;
    margin: 0 !important;
  }
  .table_date, .table_hit {
    display: none;
  }
  th.table_idx,
  td.table_idx {
    width: 30px;
  }
  .table_author {
    width: 60px;
  }
  li.topbar, .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  li.topbar > button,
  li.topbar > button:hover {
    margin: 5px 0;
    font-size: 0.9rem;
    padding:3px !important;
  }
  li.topbar > button:nth-child(4) {
    display: none;
  }
  .title-box, .title-box::after, .title-box:hover{
    font-size: 1.0em;
    padding: 8px 20px !important;
    vertical-align: center;
    font-weight: 900;
  }
  
}
