<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제물 제출 / Submission</h1>
      </div>
      <div>
        {% if request.session.logged_in and request.session.usertype != "unapproved" %}
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="problem_id">문제 번호 / Problem No.</label>
                    <select id="problem_id" name="problem_id" class="form-control">
                        {% if request.session.usertype == "admin" %}
                            {% for prob in full_prob_list %}
                                <option value="{{ prob.prob_id }}">{{ prob.prob_id }}. {{ prob.prob_name }} ( {{ prob.starts_at | date:"N j일, H:i" }} ~ {{ prob.ends_at | date:"N j일, H:i" }})</option>
                            {% endfor %}
                            {% elif request.session.usertype == "normal" %}
                            {% for prob in cur_prob_list %}
                            <option value="{{ prob.prob_id }}">{{ prob.prob_id }}. {{ prob.prob_name }} ( {{ prob.starts_at | date:"N j일, H:i" }} ~ {{ prob.ends_at | date:"N j일, H:i" }})</option>
                            {% endfor %}
                        {% endif %}
                        
                    </select>
                </div>
            </div>
            
            <div class="form-row">            
                <div class="form-group">
                    <label for="language">언어 / Language</label>
                    <select id="language" name="language" class="form-control">
                        <option value="01">C++14</option>
                        <option value="02">C11</option>
                        <option value="03">Python3</option>
                        {% if request.session.usertype == "admin" %}
                        <option value="04">Java</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            <span>소스 코드 / Source Code</span>
            <div class="form-row">
                <div class="form-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="source_code" name="source_code">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                  </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="제출 / Submit">
        </form>
        {% elif not request.session.logged_in  %}
        <span>로그인이 필요한 기능입니다.</span>
        {% endif %}
      </div>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_online_exam").attr('class','nav-link active'); 
    $("#source_code").on('change',function(e){
        var fileName = e.target.files[0].name;
        $(this).next('.custom-file-label').html(fileName);
    })
</script>
{% endblock %}

