<!doctype html>
{% extends 'board_list.html' %}
{% block board_title %}
<div class="title-container">
    <a href="/course" class="title-box">
      <span>강의 자료실 / Course Materials</span>
    </a>
</div>
{% endblock %}

{% block write_button %}
{% if request.session.logged_in == 'YES' and request.session.usertype != 'unapproved' %}
<div align="right">
    <a class="btn btn-primary pull-right" href="/course/write">글쓰기</a>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_course").attr('class','nav-link active'); 
</script>
{% endblock %}