<!doctype html>
{% extends 'base_course_example.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-100 m-auto">
        <div class="title-container">
          <br>
          <a class="title-box">
            <span>사용자 관리/ User Manage</span>
          </a><br>
        </div>
        <hr>
      <div class="col">
        <form method="post" action="" name="delete_user" style="display: none;">
          {% csrf_token %}
          <input type="hidden" name="delete_user" value="">
        </form>

        <div class="col mt-5">
            <table  class="table btn-sm nowrap">
                <thead>
                <tr class="table-primary">
                  <th>#</th>
                  <th>학번</th>
                  <th>이름</th>
                  <th>아이디</th>
                  <th>학년</th>
                  <th>전공</th>
                  <th>이메일</th>
                  <th>전화번호</th>
                  <th>등록일자</th>
                  <th></th>
                </tr>
                </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td># {{forloop.counter}}</td>
                  <td>{{ user.studentNumber }}</td>
                  <td>{{ user.username }}</td>
                  <td>{{ user.user_id }}</td>                      
                  <td>{{ user.grade }}</td>   
                  <td>{{ user.major }}</td>
                  <td style="word-break:break-all;">{{ user.email }}</td>
                  <td>{{ user.phone }}</td>                      
                  <td>{{ user.created_at }}</td>
                  <td><button class="btn btn-outline-danger" name="delete_button" id="{{ user.id }}">삭제</button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        
      </div>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_user_manage").attr('class','nav-link active'); 
    $('button[name="delete_button"]').on("click", function() {
      if (confirm('선택하신 사용자를 삭제하시겠습니까?')) {
        $('input[name="delete_user"]').val($(this).attr('id'));
        $('form[name="delete_user"]').submit();
      }
    })
</script>
{% endblock %}

