<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">질문 게시판 / Q&amp;A</h1>
        </div>
        <div>
            <div class="w-75">
            <form method='POST' enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="form-row w-100">            
                <div class="form-group w-100">
                    <div class="mb-3">
                        <label for="post_title" class="h4">제목</label>
                        <input id="post_title" name="post_title" class="form-control" type="text">
                    </div>
                    <div class="w-100 d-inline-block mb-3">
                        <label for="post_contents" class="h4">내용</label>
                        <textarea class="form-control" id="post_contents" name="post_contents" rows="15"></textarea>
                    </div>
                    <!--
                    <div class="w-100 d-inline-block">
                        <label for="attach_files" class="h4">첨부 파일</label>
                        <input id="attach_files" name="attach_files" type="file" multiple />
                        <div id="attach_files_list"></div>
                    </div>
                    -->
                </div>
            </div>
            <br>
            
            <div class="float-sm-right">
                <input type="submit" class="btn btn-primary btn-lg" value="등록">
            </div>
            </form>
            </div>
        </div>
    </main>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_qna").attr('class','nav-link active'); 
    $(document).ready( function() {
 
        $("input[type=file]").change(function () {
            
            var fileInput = document.getElementById("attach_files");
            
            var files = fileInput.files;
            var file;
            var result = "<ul>";
            
            for (var i = 0; i < files.length; i++) {
                
                file = files[i];
 
                result += "<li>" + (i+1) + ": " + file.name + "</li>\n";
            }
            result += "</ul>";
            document.getElementById("attach_files_list").innerHTML=result;
        });
 
    });
</script>
{% endblock %}
