<!doctype html>
{% extends 'base.html' %}
{% block styles %}
    .border-2 {
        border-width:3px !important;
    }
    pre.content {
        font-family : Courier New, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size : .875rem;
        white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
        white-space: -pre-wrap; /* Opera */
        white-space: -o-pre-wrap; /* Opera */
        white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
        word-wrap: break-word; /* IE 5.5+ */
    }
    pre.comment {
        white-space: pre-wrap;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size : 14px;
	width : 70%;
    }

    .comment-info-border {
	border-left : 4px solid red !important;
	border-bottom : 1px solid blue !important;
    }
{% endblock %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom w-75 border-dark">
        <h2 class="">질문 게시판 / Q&amp;A</h2>
      </div>
      <div class="pb-2 mb-3 w-75 border-dark">
      <h3 class="font-weight-bold">{{ object.title }}</h4>
      <h5>by <span class="text-primary">{{ object.author }}</span>, <span class="font-italic">{{ post.pub_date | date:"N j일, H:i" }}</span><br></h5>
      </div>
      <div class="w-75">
        <ul>
        {% for attachment in attachments %}
	    {% if attachment.ext == "jpg" or attachment.ext == "png" or attachment.ext == "gif" or attachment.ext == "bmp" or attachment.ext == "jpeg" %}
            <img src="/media/attached/qna/{{object.id}}/{{attachment.name}}">
	    {% endif %}
        {% endfor %}
        </ul>
      </div>
      <div id="viewer" class="w-75 border-dark"> 
        <!-- <pre class="content"></pre> -->
        
      </div>
      <div class="w-75">
      {% if page_obj.has_previous %}
        <a href="?page={{ object.get_previous.get_absolute_url}}" title="Prev">{{ object.get_previous</a>
      {% endif %}
      
      {% if page_obj.has_next %}
        <a href="?page={{ object.get_next.get_absolute_url }}" title="Next">{{ object.get_next }}</a>
      {% endif %}
      </div>
      <div class="w-75">
        <ul>
        {% for attachment in attachments %}
            <li><a href="/media/attached/board/{{object.id}}/{{attachment.name}}">{{attachment.name}}</a></li>
        {% endfor %}
        </ul>
      </div>      
      <div class="text-right w-75 p-3">
      {% if request.session.usertype == "admin" or request.session.userid == object.author %}
      <button class="btn btn-primary btn-lg pull-right" onclick="location.href='{% url 'board:edit' object.id %}'"> 수정 </button>
      {% endif %}
  <button class="btn btn-secondary btn-lg pull-right" onclick="location.href='{% url 'board:post_list' %}'"> 목록으로 </button>      
      </div>      
      <div class="w-75">
        {% for comment in comments %}
            <div class="border-top border-dark pt-2 pb-2 pl-2">
                <span class="text-primary font-weight-bold">{{ comment.author }} ,</span> <span class="font-italic">{{ comment.pub_date | date:"N j일, H:i" }}</span><br>
                <span class="p-1"> {{ comment.text }} </span>
            </div>
        {% endfor %}
      </div>
      {% if request.session.logged_in and request.session.usertype == 'unapproved' %}
      <div class="w-75 border-top border-dark p-3">
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-row w-100">
                <div class="form-group w-100">
                    <label for="id_text">
                    <textarea class="form-control" name="text" cols="140" rows="5" style="min-width: 100%" required id="id_text"></textarea>
                </div>
            </div>
            <div class="float-sm-right">
                <input class="btn btn-primary btn-lg" type="submit" value="댓글 등록">
            </div>
        </form>
      </div>
      {% endif %}
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}


<script>
  const { Editor } = toastui;
  const { codeSyntaxHighlight } = Editor.plugin;

  const viewer = new Editor.factory({
    el: document.querySelector('#viewer'),
    viewer:true ,
    height: '600px',
    initialValue: `{{ object.update_counter }}{{ object.content|linebreaks }}`
  });
  
  $("#sidebar_qna").attr('class','nav-link active'); 
</script>
{% endblock %}
