<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제물 목록 / Assignment list</h1>
      </div>
      <div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Max Size</th>
                    <th scope="col">Timeout</th>
                    <th scope="col">Max Try</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Evaluation</th>
                    <th scope="col">Sample Data</th>
                </tr>
            </thead>
            <tbody>
                {% for prob in prob_list %}
                <tr>
                    <th scope="row">{{ prob.prob_id }}</th>
                    <td><a href="/media/assignment/documents/{{ prob.prob_id }}_{{prob.prob_name}}.hwp">{{prob.prob_name}}</a></td>
                    <td>{{ prob.size_limit}}</td>
                    <td>{{ prob.time_limit }}</td>
                    <td>{{ prob.try_limit }}</td>
                    <td>{{ prob.starts_at | date:"m/j H:i" }}</td>
                    <td>{{ prob.ends_at | date:"m/j H:i" }}</td>
                    <td>{{ prob.eval }}</td>
                    <td><a href="/media/assignment/sampledata/{{ prob.prob_id }}/open{{prob.prob_id}}.zip">{{prob.prob_name}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
      </div>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_list").attr('class','nav-link active'); 
</script>
{% endblock %}

