<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제물 목록 / Assignment list</h1>
      </div>
      <div class="w-75">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Max Size</th>
                    <th scope="col">Timeout</th>
                    <th scope="col">Max Try</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Evaluation</th>
                    <th scope="col">Sample data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th score="row">1</th>
                    <td><a href="/media/assignment/documents/01_ROBOCOP2.hwp">로보캅2(RoboCop2)</a></td>
                    <td>3000 Bytes</td>
                    <td>1 sec.</td>
                    <td>15</td>
                    <td>09.08 00:00</td>
                    <td>09.11 22:00</td>
                    <td>TBD</td>
                    <td><a href="/media/assignment/sampledata/01/open01.zip">로보캅2(RoboCop2)</td>
                </tr>
                <tr>
                    <th score="row">2</th>
                    <td><a href="/media/assignment/documents/02_2COPS.hwp">투캅스(2Cops)</a></td>
                    <td>3500 Bytes</td>
                    <td>1 sec.</td>
                    <td>15</td>
                    <td>09.12 00:00</td>
                    <td>09.16 22:00</td>
                    <td>TBD</td>
                    <td><a href="/media/assignment/sampledata/02/open02.zip">투캅스(2Cops)</td>
                </tr>
                {% for prob in prob_list %}
                <tr>
                    <th score="row">{{ prob.prob_id }}
                    <td><a href="/media/assignment/documents/{{ prob.prob_id }}_{{prob.prob_name}}.hwp">{{prob.prob_name}}</a></td>
                    <td>{{ prob.size_limit}}</td>
                    <td>{{ prob.time_limit }}</td>
                    <td>{{ prob.try_limit }}</td>
                    <td>{{ prob.starts_at | date:"N.j H:i" }}</td>
                    <td>{{ prob.ends_at }}</td>
                    <td>{{ prob.eval }}</td>
                </tr>
                {% endfor %}
            </tbody>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_list).attr('class','nav-link active'); 
</script>
{% endblock %}

