<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-50 m-auto">
      <div class="title-container">
        <br>
        <a class="title-box">
          <span>과제물 관리/ Assignment Manage</span>
        </a><br>
      </div>
      <hr>
      <div>
        <form method="POST" enctype="multipart/form-data" action="" name="assignment_manage">
          {% csrf_token %}
          <input type="hidden" name="prob_id" value="">
        </form>
        <table class="table table-hover">
          <thead class="thead-dark">
              <tr>
                  <th scope="col" style="width: 50px;">#</th>
                  <th scope="col">Problem</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              {% for prob in prob_list %}
              <tr>
                  <th score="row" style="width: 50px;">{{ prob.prob_id }}
                  <td class="pr-2"><a href="/assignment/submission_detail?prob_id={{prob.prob_id}}">{{prob.prob_name}}</a></td>
                  <td class="pr-2">{{prob.starts_at | date:"m/j H:i"}}
                  </td>
                  <td class="pr=2">{{ prob.ends_at | date:"m/j H:i" }}
                  </td>
                  <td class="d-flex justify-content-end">
                    <button class="btn btn-primary btn-sm mr-4" name="manage" id="{{ prob.id }}">수정</button>
                    <button class="btn btn-secondary btn-sm">삭제</button>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_assignment_manage").attr('class','nav-link active');
    $("button[name='manage']").on('click', function() {
       $('input[name="prob_id"]').val($(this).attr('id'));
       $('form[name="assignment_manage"]').submit();
    });
</script>
{% endblock %}

