<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제물 목록 / Assignment list</h1>
      </div>
      <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">문제명 / Problem</th>
                    <th scope="col">코드 크기 제한 / Code size limit</th>
                    <th scope="col">시간 제한 / Time limit</th>
                    <th scope="col">제출 시작 / From </th>
                    <th scope="col">제출 마감 / To </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th score="row">1</th>
                    <td><a href="/media/assignment/documents/01_ROBOCOP2(a).hwp">로보캅2(RoboCop2)</a></td>
                    <td>3000 Bytes</td>
                    <td>1 second</td>
                    <td>2020.09.08</td>
                    <td>2020.09.11</td>
                </tr>
                <tr>
                    <th score="row">2</th>
                    <td><a href="/media/assignment/documents/02_2COPS(b).hwp">투캅스(2Cops)</a></td>
                    <td>3500 Bytes</td>
                    <td>1 second</td>
                    <td>2020.09.08</td>
                    <td>2020.09.16</td>
                </tr>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_list).attr('class','nav-link active'); 
</script>
{% endblock %}

