<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
      <div class="title-container">
        <br>
        <a class="title-box">
          <span>시스템 설정/ settings</span>
        </a><br>
      </div>
      <hr>
      <div >
        <div class="container">
          <div style="height: 100px;"></div>
          <!-- <div class="card m-auto w-50 pl-3 pt-2">
            <div class="card-title pl-3 pt-3 m-0" style="font-size: large;font-weight: 700;">
                <span data-feather="lock"></span> 잠금여부</div>
            <div class="card-body">
              <div class="form-check-1">
                <input class="settings-lock" type="radio" name="settings-lock" id="settings-lock-1">
                <label class="settings-lock-label" for="settings-lock-1">
                  잠금
                </label>
              </div>
              <div class="form-check-1">
                <input class="settings-lock" type="radio" name="settings-lock" id="settings-lock-2" checked>
                <label class="settings-lock-label" for="settings-lock-2">
                  잠금해제
                </label>
              </div>
            </div>

            <div class="card-title pl-3 pt-3 m-0" style="font-size: large;font-weight: 700">
              <span data-feather="eye"></span> 채점결과 데이터번호표시</div>
            <div class="card-body">
              <div class="form-check-2">
                <input class="settings-view" type="radio" name="settings-view" id="settings-view-1">
                <label class="settings-view-label" for="settings-view-1">
                  보임
                </label>
              </div>
              <div class="form-check-2">
                <input class="settings-view" type="radio" name="settings-view" id="settings-view-2" checked>
                <label class="settings-view-label" for="settings-view-2">
                  보이지 않음
                </label>
              </div>
            </div>
            <button class="btn btn-secondary w-25 m-auto" >변경</button>
            <br>

          </div> -->
          <br>

          <div  class="m-auto w-50">
            <div id="assignment-form" class="pt-3 pl-3">
              <div class="name" style="font-size: large;font-weight: 700;"> <span data-feather="image"></span> 배너선택</div>
              <br>
              <div class="value">
                <div class="input-group js-input-file">
                  <input class="input-file" type="file" name="grade_data" id="file5" required>
                  <label class="label--file" for="file5">파일 선택</label>
                  <span class="input-file__info">선택된 파일이 없습니다</span>
                </div>
              </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="d-flex">
              <button class="btn btn-secondary w-25 m-auto">변경</button>
            </div>
            
            <br>
          </div>
          

          
        </div>
      </div>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_settings").attr('class','nav-link active'); 
</script>
{% endblock %}

