<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제물 제출 / Submission</h1>
      </div>
      <div>
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="problem_id">문제 번호 / Problem No.</label>
                    <select id="problem_id" name="problem_id" class="form-control">
                        <option>1. ROBOCOP (2020.09.08. ~ 2020.09.11.)</option>
                        <option>2. MULTICOP  (2020.09.12. ~ 2020.09.16.)</option>
                    </select>
                </div>
            </div>
            
            <div class="form-row">            
                <div class="form-group">
                    <label for="language">언어 / Language</label>
                    <select id="language" name="language" class="form-control">
                        <option>C++</option>
                        <option>Python</option>
                    </select>
                </div>
            </div>

            <span>소스 코드 / Source Code</span>
            <div class="form-row">
                <div class="form-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="source_code" name="source_code">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                  </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="제출 / Submit">
        </form>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_submission").attr('class','nav-link active'); 
</script>
{% endblock %}

