<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제물 목록 / Assignment list</h1>
      </div>
      <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">St.Number</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Submit Time</th>
                    <th scope="col">Score</th>
                    <th scope="col">Exec. Time</th>
                    <th scope="col">Size</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submission_table %}
                <tr>
                    <td> {{ submission.id }} </td>
                    <td> {{ submission.client_ID }} </td>
                    <td> {{ submission.client_number }} </td>
                    <td> {{ submission.prob_ID }} </td>
                    <td> {{ submission.created_at }} </td>
                    <td> {{ submission.score }} </td>
                    <td> {{ submission.exec_time }} </td>
                    <td> {{ submissoin.code_size }} </td>
                </tr>
                {% endfor %}
            </tbody>
            
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_list).attr('class','nav-link active'); 
</script>
{% endblock %}

