<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-100 m-auto">
      <div class="title-container">
        <br>
        <a class="title-box">
          <span>과제 제출 현황/ Submission list</span>
        </a><br>
      </div>
      <hr>
      <div >
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" width="50px">#</th>
                    <th scope="col">과제명</th>
                    <th scope="col">제한크기</th>
                    <th scope="col">제한시간</th>
                    <th scope="col">제한횟수</th>
                    <th scope="col">제출시작</th>
                    <th scope="col">제출마감</th>
                    <th scope="col">채점점수</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for prob in prob_list %}
                <tr>
                    <th score="row">{{ prob.prob_id }}</th>
                    <td>{{ prob.prob_name }}</td>
                    <td>{{ prob.size_limit}}</td>
                    <td>{{ prob.time_limit }}</td>
                    <td>{{ prob.try_limit }}</td>
                    <td>{{ prob.starts_at | date:"m/j H:i" }}</td>
                    <td>{{ prob.ends_at | date:"m/j H:i" }}</td>
                    <td>{{ prob.eval }}</td>
                    <td><a class="btn btn-primary btn-sm" href="/assignment/submission_detail?prob_id={{prob.prob_id}}">제출내역</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_result").attr('class','nav-link active'); 
</script>
{% endblock %}

