<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제물 목록 / Assignment list</h1>
      </div>
      <div class="w-25">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">과제명</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 01 </td>
                    <td> <a href="/assignment/submission_detail?prob_id=01"> ROBOCOP2</a> </td>
                </tr>
                <tr>
                    <td> 02 </td>
                    <td> <a href="/assignment/submission_detail?prob_id=02">2COPS</a> </td>
                </tr>
                <tr>
                    <td> 03 </td>
                    <td> <a href="/assignment/submission_detail?prob_id=03"> BITMAP</a> </td>
                </tr>
            </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_result).attr('class','nav-link active'); 
</script>
{% endblock %}

