<!doctype html>
{% extends 'base.html' %}
{% block styles %}
    tr {
        text-align : center;
    }
    td.students {
        padding : 0.1em !important;
        text-align : center;
    }
{% endblock %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제 제출 현황 / Submission Result</h1>
      </div>
      {% if not request.session.logged_in  %}
      <span>로그인이 필요한 기능입니다.</span>
      {% else %}
      <div class="w-75">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Max Size</th>
                    <th scope="col">Timeout</th>
                    <th scope="col">Max Try</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Evaluation</th>
                    <th scope="col">Sample data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th score="row">{{ prob.prob_id }}</th>
                    <td>{{prob.prob_name}}</td>
                    <td>{{ prob.size_limit}}</td>
                    <td>{{ prob.time_limit }}</td>
                    <td>{{ prob.try_limit }}</td>
                    <td>{{ prob.starts_at | date:"m/j H:i" }}</td>
                    <td>{{ prob.ends_at | date:"m/j H:i" }}</td>
                    <td>{{ prob.eval }}</td>
                    <td><a href="/media/assignment/sampledata/{{ prob.prob_id }}/open{{prob.prob_id}}.zip">{{prob.prob_name}}</a></td>
                </tr>
            </tbody>
        </table>
        {% if request.session.usertype == "admin" %}
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                <th scope="col">score</th>
                {% for key in key_list %}
                <th scope="col">{{key}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="col">名</th>
                {% for score in score_list %}
                <td>{{score}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        
        {% endif %}
                
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    {% if request.session.usertype == "normal" %}
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Std.No.</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Language</th>
                    <th scope="col">Submitted at</th>
                    <th scope="col">Score</th>
                    <th scope="col">Time</th>
                    <th scope="col">Size</th>
                    {% else %}
                    <th scope="col">Std.No.</th>
                    <th scope="col">ID</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Submitted at</th>
                    <th scope="col">Language</th>
                    <th scope="col">Score</th>
                    <th scope="col">Time</th>
                    <th scope="col">Size</th>
                    <th scope="col">Try</th>
                    <th scope="col">Code</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for submission in submission_table %}
                <tr>
                    {% if request.session.usertype == "normal" %}
                    <td> {{ submission.id }} </td>
                    <td> {{ submission.client_ID }} </td>
                    <td> {{ submission.client_number }} </td>
                    <td> {{ submission.prob_name }} </td>
                    <td> {{ submission.lang }} </td>
                    <td> {{ submission.created_at | date:"n/j, H:i" }} </td>
                    <td> {{ submission.score }} </td>
                    <td> {{ submission.exec_time|stringformat:".3f" }} </td>
                    <td> {{ submission.code_size }}</td>
                    </td>
                    {% else %}
                    <td class="students"> {{ submission.client_number }} </td>
                    <td class="students"> {{ submission.client_ID }} </td>
                    <td class="students"> {{ submission.prob_name }} </td>
                    <td class="students"> {{ submission.created_at | date:"n/j, H:i" }} </td>
                    <td class="students"> {{ submission.lang }} </td>
                    <td class="students"> {{ submission.score }} </td>
                    <td class="students"> {{ submission.exec_time|stringformat:".3f" }} </td>
                    <td class="students"> {{ submission.code_size }}</td>
                    <td class="students"> {{ submission.count }}</td>
                    <td class="students"> 
                    <a href="/assignment/watch_code?prob_id={{submission.prob_ID}}&student_number={{submission.client_number}}&submission_id={{submission.id}}&ext={{submission.lang}}"><span data-feather="align-left"></span>
                    </a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
      </div>
      {% endif %}
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_result).attr('class','nav-link active'); 
</script>
{% endblock %}

