<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
        <div class="title-container">
          <br>
          <a class="title-box">
            <span>과제물 제출 / Submission</span>
          </a><br>
        </div>
        <hr>
      <div>
        {% if request.session.logged_in and request.session.usertype != "unapproved" %}
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <label for="problem_id">문제 번호 / Problem No.</label>
            <table class="table table-hover" id="problem_id">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" width="50px">#</th>
                        <th scope="col">과제명</th>
                        <th scope="col">제한크기</th>
                        <th scope="col">제한시간</th>
                        <th scope="col">제한횟수</th>
                        <th scope="col">제출시작</th>
                        <th scope="col">제출마감</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if request.session.usertype == "admin" %}
                        {% for prob in full_prob_list %}
                        <tr>
                            <th score="row">{{ prob.prob_id }}</th>
                            <td>{{ prob.prob_name }}</td>
                            <td>{{ prob.size_limit}}</td>
                            <td>{{ prob.time_limit }}</td>
                            <td>{{ prob.try_limit }}</td>
                            <td>{{ prob.starts_at | date:"m/j H:i" }}</td>
                            <td>{{ prob.ends_at | date:"m/j H:i" }}</td>
                            <td><input type="radio" class="btn-check" name="problem_id" value="{{ prob.prob_id }}" autocomplete="off" checked></td>
                        </tr>
                    {% endfor %}
                    {% elif request.session.usertype == "normal" %}
                        {% for prob in cur_prob_list %}
                        <tr>
                            <th score="row">{{ prob.prob_id }}</th>
                            <td>{{ prob.prob_name }}</td>
                            <td>{{ prob.size_limit}}</td>
                            <td>{{ prob.time_limit }}</td>
                            <td>{{ prob.try_limit }}</td>
                            <td>{{ prob.starts_at | date:"m/j H:i" }}</td>
                            <td>{{ prob.ends_at | date:"m/j H:i" }}</td>
                            <td><input type="radio" class="btn-check" name="problem_id" value="{{ prob.prob_id }}" autocomplete="off" checked>
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
                <!--
                <div class="form-group">
                    <label for="problem_id">문제 번호 / Problem No.</label>
                    
                    <select id="problem_id" name="problem_id" class="form-control">
                        {% if request.session.usertype == "admin" %}
                            {% for prob in full_prob_list %}
                                <option value="{{ prob.prob_id }}">{{ prob.prob_id }}. {{ prob.prob_name }} ( {{ prob.starts_at | date:"N j일, H:i" }} ~ {{ prob.ends_at | date:"N j일, H:i" }})</option>
                            {% endfor %}
                        {% elif request.session.usertype == "normal" %}
                            {% for prob in cur_prob_list %}
                            <option value="{{ prob.prob_id }}">{{ prob.prob_id }}. {{ prob.prob_name }} ( {{ prob.starts_at | date:"N j일, H:i" }} ~ {{ prob.ends_at | date:"N j일, H:i" }})</option>
                            {% endfor %}
                        {% endif %}
                        
                    </select>
                </div>
                -->
            </div>
            
            <div class="form-row">            
                <div class="form-group">
                    <label for="language">언어 / Language</label>
                    <div class="form-group" id="language">
                    <input type="radio" class="btn-check" name="language" value="01" checked>C++14
                    <input type="radio" class="btn-check" name="language" value="02" > C11
                    <input type="radio" class="btn-check" name="language" value="03" > Python3
                    {% if request.session.usertype == "admin" %}
                    <input type="radio" class="btn-check" name="language" value="04" > Java
                    {% endif %}
                    </div>
                </div>
            </div>

            <span>소스 코드 / Source Code</span>
            <div class="form-row">
                <div class="form-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="source_code" name="source_code">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                  </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="제출 / Submit">
        </form>
        {% elif not request.session.logged_in  %}
        <span>로그인이 필요한 기능입니다.</span>
        {% endif %}
      </div>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_submission").attr('class','nav-link active'); 
    $("#source_code").on('change',function(e){
        var fileName = e.target.files[0].name;
        $(this).next('.custom-file-label').html(fileName);
    })
</script>
{% endblock %}

