<!doctype html>
{% extends 'base.html' %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
      <div id="main_center" class="w-75 m-auto">
        <div class="title-container">
          <br>
          <a class="title-box">
            <span>사용자 승인/ User Approval</span>
          </a><br>
        </div>
        <hr>
      <div class="col">
        <form method="post" action="" name="approve_user" style="display: none;">
          {% csrf_token %}
          <input type="hidden" name="approve_user" value="">
        </form>

        {% for newuser in newusers %}

        <div class="col mt-5">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex justify-content-between">
                <span class="pl-2" style="font-size: 24px;font-weight:700;"># {{forloop.counter}}</span>
                <span>
                  <!-- <button class="btn btn-warning mr-3">보류</button> -->
                  <button class="btn btn-success" name="approve_button" id="{{ newuser.id }}">승인</button>
                </span>
              </div>
              <div class="card-text">
                <table  class="table table-borderless btn-sm">
                  <tbody>
                    <tr>
                      <th>학번</th>
                      <td>{{ newuser.studentNumber }}</td>
                    </tr>
                    <tr>
                      <th>이름</th>
                      <td>{{ newuser.username }}</td>
                    </tr>
                    <tr>
                      <th>아이디</th>
                      <td>{{ newuser.user_id }}</td>
                    </tr>
                    <tr>
                      <th>학년</th>
                      <td>{{ newuser.grade }}</td>
                    </tr>
                    <tr>
                      <th>전공</th>
                      <td>{{ newuser.major }}</td>
                    </tr>
                    <tr>
                      <th>이메일</th>
                      <td>{{ newuser.email }}</td>
                    </tr>
                    <tr>
                      <th>전화번호</th>
                      <td>{{ newuser.phone }}</td>
                    </tr>
                    <tr>
                      <th>등록일자</th>
                      <td>{{ newuser.created_at }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
      </div>
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_user_approval").attr('class','nav-link active');
    $('button[name="approve_button"]').on("click", function() {
      if (confirm('선택하신 사용자를 승인하시겠습니까?')) {
        $('input[name="approve_user"]').val($(this).attr('id'));
        $('form[name="approve_user"]').submit();
      }
    })
</script>
{% endblock %}

