<!doctype html>
{% extends 'base.html' %}
{% block styles %}
    .courier-new {
        font-family: Courier New, Consolas, Monaco;
    }
    code {
        font-size : 12pt;
	color : white !important;
    }
    pre {
        background-color : #1f1e33;
        padding : 2px;
    }
    pre code {
	padding : 2px;
	line-height: 110% important;
    }
{% endblock %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
        <div class="title-container">
          <br>
          <a class="title-box">
            <span>과제물 제출 / Submission</span>
          </a><br>
        </div>
        <hr>
      
      {% if not request.session.logged_in  %}
      <span>로그인이 필요한 기능입니다.</span>
      {% else %}
      {% if request.session.usertype == "admin" %}
      <div class="w-100">
	      <div id="viewer" class=" border-dark"></div>
      </div>      
      {% else %}
      <span>허용되지 않은 기능입니다.<span>
      {% endif %}
      {% endif %}
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_result").attr('class','nav-link active'); 
    console.log(`{{ code_content }}`);


    const { Editor } = toastui;
    const { codeSyntaxHighlight } = Editor.plugin;

    const viewer = new Editor.factory({
    el: document.querySelector('#viewer'),
    initialEditType: 'wysiwyg',
    viewer:true,
    initialValue:`\`\`\`{{ lang }}
{{ code_content|safe }}
\`\`\` `,
    plugins: [[codeSyntaxHighlight, { highlighter: Prism }]],
  });

    
</script>
{% endblock %}

