<!doctype html>
{% extends 'base.html' %}
{% block styles %}
    .courier-new {
        font-family: Courier New, Consolas, Monaco;
    }
    code {
        font-size : 12pt;
    }
    pre {
        color : white;
        background-color : #1f1e33;
        line-height: 120%;
    }
{% endblock %}
{% block contents %}
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">과제 제출 현황 / Submission Result</h1>
      </div>
      {% if not request.session.logged_in  %}
      <span>로그인이 필요한 기능입니다.</span>
      {% else %}
      {% if request.session.usertype == "admin" %}
      <div class="w-75">
        <pre><code class="courier-new">{{ code_content }}</code></pre>
      </div>      
      {% else %}
      <span>허용되지 않은 기능입니다.<span>
      {% endif %}
      {% endif %}
    </main>
  </div>
</div>
      
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_result).attr('class','nav-link active'); 
</script>
{% endblock %}

