<!doctype html>
{% extends 'base.html' %}
{% block contents %}

<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div id="main_center" class="w-75 m-auto">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-none">
            <h1 class="h2">NESPA 개발진</h1>
        </div>
        <div class="container-fluid">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">이름</th>
                  <th scope="col">직책</th>
                  <th scope="col">Contact</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>조환규</td>
                  <td>담당교수</td>
                  <td>hgcho@pusan.ac.kr</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>박상운</td>
                  <td>개발 총괄</td>
                  <td>sangwoon.alde@pusan.ac.kr</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>이준영</td>
                  <td>Back-end Engineering</td>
                  <td>rubinstory@pusan.ac.kr</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>홍유준</td>
                  <td>Front-end Engineering</td>
                  <td>hyjhyj0901@pusan.ac.kr</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div>
        <p> 사이트 오류 보고 : 박상운 연구원(<span class="font-italic">sangwoon.alde@pusan.ac.kr</span>)</p>
        <br>
        <div class="border rounded p-3"><p>
        # 오류 보고 메일 양식은 다음을 지켜주십시오.<br><br>
        
        * 학번 : <br>
        * 이름 : <br>
        * 수강 과목 (분반) : <br><br>        
        * 오류 내용 : (사이트 이용 중 어떤 행동을 했는지, 어떤 화면이 나왔는지 분명하게 기술)<br>
        * 오류 발생 시각 : <br>
        * 스크린샷 : (첨부 필수)<br>
        
        </p></div>
        </div>
        </div>
    </main>    
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $("#sidebar_nespa_devs").attr('class','nav-link active'); 
</script>
{% endblock %}
